<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}">
    <head>
        <title>login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
            <section class="container my-5" style="max-width: 400px;">
                <h3 class="fw-bold mb-3">Inicia Sesión</h3>
                <p class="text-muted">Accede con tu cuenta para poder visualizar tus productos favoritos guardados!</p>

                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="clave" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="clave" name="clave" required>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <div class="text-center my-3 text-muted">o</div>

                    <div class="d-grid mb-3">
                        <button type="button" class="btn btn-light border">
                            <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="Google logo" width="20" class="me-2">
                            Inicia con Google
                        </button>
                    </div>
                </form>
            </section>
        </section>
    </body>
</html>
